<%- model_class = Person -%>
<div class="page-header">
  <h1><%=t '.title', :default => " Listing Paysans" %></h1>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th> Count</th>
      <th> Full Names </th>
      <th> Traveled </th>
<th> To </th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
<% title = "Mrs."%>
<% if person.gender  == "male" || person.gender  == "Male"%>
<% title = "Mr."%>
<% end %>
      <tr>
        <td><%= link_to person.id, person_path(person) %>  
<%= link_to t('.show', :default => t("helpers.links.details")), person_path(person), :class => 'btn btn-success btn-xs' %> </td>
        <td><%=  " #{title + " " + person.first_name + " " + person.last_name  } "%></td>
        <td><%= "#{time_ago_in_words( person.year_of_travel)}  ago" %></td>
 <td><%= person.host_country %></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_person_path(person), :class => 'btn btn-default btn-xs' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.register")),
            new_person_path,
            :class => 'btn btn-primary btn-lg' %>
