<!DOCTYPE html>
<html>
<head>
  <title>Diaspora</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="shortcut icon" href="PUT YOUR FAVICON HERE">-->
    <!-- Google Web Font Embed -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="js/colorbox/colorbox.css" rel='stylesheet' type='text/css'>
    <link href="css/templatemo_style.css" rel='stylesheet' type='text/css'>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div id="my-coloured-header">


        <div class="templatemo-top-bar" id="templatemo-top">
            <div class="container">
                <div class="subheader">

                </div>
            </div>
        </div>



        <div class="templatemo-top-menu">
            <div class="container">
                <!-- Static navbar -->
                <div class="container" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Cameroon Diaspora Project</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a rel="nofollow" href="http://guarded-coast-9336.herokuapp.com/" class="navbar-brand"> <h1> DIASPPORA</h1> </a>
                        </div>
                        <div class="navbar-collapse collapse" id="templatemo-nav-bar">
                            <ul class="nav navbar-nav navbar-right" style="margin-top: 40px;">
                                <li class="active"><a href="#templatemo-top">HOME</a></li>
                                <li><a href="#templatemo-about">PROJECT</a></li>
                                <li><a href="http://guarded-coast-9336.herokuapp.com/people" class="external-link" rel="nofollow">PARTICIPATE</a></li> 
                                <li><a href="#templatemo-contact">CONTACT</a></li>
                                <li><a href="http://guarded-coast-9336.herokuapp.com/people" class="external-link" rel="nofollow">FEEDBACKS</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </div><!--/.navbar -->
            </div> <!-- /container -->
        </div>

        <div>
            <!-- Carousel -->
            <div id="templatemo-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#templatemo-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#templatemo-carousel" data-slide-to="1"></li>
                    <li data-target="#templatemo-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>CAMEROON DIASPORA</h1>
                                <p>COMING TOGETHER TO EXCELL</p>
                                <p>
                                    <a class="btn btn-lg btn-green" href="http://guarded-coast-9336.herokuapp.com/people" role="button" style="margin: 20px;">Participate</a>
                                    <a class="btn btn-lg btn-orange" href="http://guarded-coast-9336.herokuapp.com/feedbacks" role="button">Feedback</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="container">
                            <div class="carousel-caption">
                                <div class="col-sm-6 col-md-6">
                                    <h1>START</h1>
                         <% count = Person.count %>
	                 
                                    <p> We proudly announce that there are currently.   <%= " #{count + 992} Paysans " %> and counting.  We target the entire Cameroonian communities in in the diaspora    </p>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <h1>MISSION</h1>
                                    <p>Our clients include construction companies, service providers like bars, 
restaurants and nightclubs as well as housing companies, where we carry out cleaning of residential property.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>GLOBALLY VITAL TO CAMEROON</h1>
                                <p>The Cameroon Diaspora project is first of its kind to sensor Cameroonians living out of the country to reconnect, keep track and speak as one..</p>
                                <p><a class="btn btn-lg btn-orange" href="#" role="button">Read More</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#templatemo-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#templatemo-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div><!-- /#templatemo-carousel -->
        </div>
        <div class="templatemo-welcome" id="templatemo-welcome">
            <div class="container">
                <div class="templatemo-slogan text-center">
                    <span class="txt_darkgrey">Welcome to </span><span class="txt_orange">CAMEROON DIASPORA PROJECT</span>
                    <p class="txt_slogan"><i>Being known and recognized</i></p>
                </div>
            </div>
        </div>

    </div>



    <!--    I remored something from here-->

    <div class="templatemo-team" id="templatemo-about">
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header">
                    <div class="text-center">
                        <hr class="team_hr team_hr_left" /><span>The  Project </span>
                        <hr class="team_hr team_hr_right" />
                    </div>
                </div>
            </div>

            <div class="row">

                <h1>Vision of the Cameroon Diaspora Project  </h1>
   <br />
               
                    <img  class="img-rounded img-responsive"   alt="Image" src="images/leaf.png"/>
               <% count = Person.count %>
<div class="col-md-2"> <h2><%= "Now #{count + 992} Paysans " %> and counting </h2>



</div>
<div class="col-md-7"> <%= yield %> </div>
<div class="col-md-3"> 
<h2>Your participation counts</h2>

<p> Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction.</p> 

<p> THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY. </p>
</div>

            </div>

        </div>

        <!--   Here is my new input-->



    </div><!-- /.templatemo-team -->

        <div class="templatemo-service">
            <div class="container">
              
            </div>
        </div>


    

    <div id="templatemo-contact">
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header head_contact">
                    <div class="text-center">
                        <hr class="team_hr team_hr_left hr_gray" /><span class="txt_darkgrey">CONTACT US</span>
                        <hr class="team_hr team_hr_right hr_gray" />
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="templatemo-contact-map" id="map-canvas"> </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-4 contact_right">
                    <p>We are constantly improving our services and we prepare to response to all your enquiries. </p>
                    <p><img src="images/location.png" alt="icon 1" /> Funded by the Government of Cameroon . </p>
                    <p><img src="images/phone1.png" alt="icon 2" /> +237 75464-5775 | +358 04476-5485</p>
                    <p><img src="images/globe.png" alt="icon 3" /><a class="link_orange" href="http://guarded-coast-9336.herokuapp.com/"><span class="txt_orange"> Cameroon Diaspora</span></a></p>
                    <form class="form-horizontal" action="#">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Your Name..." maxlength="40" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Your Email..." maxlength="40" />
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" style="height: 130px;" placeholder="Write down your message..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-orange pull-right">SEND</button>
                    </form>

                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /#templatemo-contact -->


    




    <div class="templatemo-footer">
        <div class="container">
            <div class="row">
                <div class="text-center">


                    <div class="footer_bottom_content">
                        Copyright © 2014 <a href="http://guarded-coast-9336.herokuapp.com/"> Cameroon Diaspora</a>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/stickUp.min.js" type="text/javascript"></script>
    <script src="js/colorbox/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="js/templatemo_script.js" type="text/javascript"></script>

</body>
</html>
